/* Import files */

@import url('./fonts.css');
@import url('./reset.css');

/* Variables */

:root {
    --font-family: 'Stem-Medium', sans-serif;
    --font-family1: 'Stem-Bold', sans-serif;
    --second-family: 'Gilroy-Semibold', sans-serif;
    --second-family1: 'Gilroy-Bold', sans-serif;
    --second-family2: 'Stem-Regular', sans-serif;

    --main-background: #fff;
    --second-background: #00BDF8;

    --main-color: #000;
    --title-color: #00BDF8;
    --white-color: #fff;
}

/* Main style */

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 24px;

    background-color: var(--main-background);
    color: var(--main-color);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    display: flex;
    align-items: center;

    max-width: 1390px;

    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 28px 0;

    background-color: var(--white-color);

    position: relative;
    z-index: 2;
}

.header__logo {
    font-family: var(--font-family1);
    font-size: 28px;
    
    line-height: 114%;
    color: var(--main-color);
}

.header__wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__navigation-list {
    display: flex;
    align-items: center;
    gap: 24px;

    font-family: var(--font-family);
    font-size: 18px;

    line-height: 133%;
    text-align: right;
}

.header__navigation-list li > a:hover {
    border-bottom: 4px solid rgba(26, 35, 110, 0.5);
}

.header__navigation-list > li > .header__navigation-list-item {
    color: rgba(0, 0, 0, 0.7);
}

.header__action {
    margin-left: 40px;
}

.header__action > .header__action-text {
    font-family: var(--font-family1);
    font-size: 13px;
    
    line-height: 138%;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
}

.header__action > .header__action-phone {
    font-family: var(--font-family);
    font-size: 18px;
    
    line-height: 133%;
    text-align: right;
    color: var(--main-color);
}

.header__btn {
    display: inline-block;
    padding: 12px 24px;
    margin-left: 32px;

    border-radius: 10px;
    background-color: var(--second-background);
    text-align: center;
    color: var(--white-color);

    font-family: var(--font-family);
    font-size: 15px;
    line-height: 133%;
    
}

/*  */

.hero {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100vh;

    margin-top: -104px;

    background-image: url(../img/background/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.hero::before {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(26, 35, 110, 0.5);
}

.hero__text-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 920px;
    height: calc(100vh - 104px);
    padding: 0 15px;
    margin: 0 auto;

    text-align: center;
}

.hero__text-wrapper > .hero__text-title {
    padding-bottom: 24px;

    font-family: var(--font-family1);
    font-size: 64px;

    line-height: 106%;
    color: var(--white-color);
}

.hero__text-wrapper > .hero__text-deskription {
    padding-bottom: 40px;

    font-family: var(--font-family);
    font-size: 24px;

    line-height: 130%;
    color: rgba(255, 255, 255, 0.8);
}

.hero__btn--blue {
    display: inline-block;

    padding: 16px 32px;

    background-color: var(--second-background);
    border-radius: 6px;

    font-family: var(--font-family);
    font-size: 18px;

    line-height: 133%;
    text-align: center;
    color: var(--white-color);

}

.hero__btn--white {
    display: inline-block;

    padding: 16px 32px;

    background-color: var(--main-background);
    border-radius: 6px;

    font-family: var(--font-family);
    font-size: 18px;

    line-height: 133%;
    text-align: center;
    color: #1a236e;
}

.hero__btn--blue {
    margin-right: 16px;
}

.hero__wrapper-btn {
    margin-bottom: 24px;
}

.hero__text-suptitle {
    width: 483px;

    font-family: var(--font-family);
    font-size: 15px;

    line-height: 133%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.hero__arrow-down {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;
}

/*  */

.subtitle {
    font-family: var(--font-family);
    font-size: 28px;

    line-height: 130%;
    text-align: center;
    color: var(--title-color);
}

.commands__text {
    text-align: center;
}

.commands {
    margin-bottom: 120px;
}

.commands__text-title {
    margin-bottom: 24px;

    font-family: var(--font-family1);
    font-size: 64px;

    line-height: 106%;
    color: var(--main-color);
}

.commands__subtitle {
    margin: 120px 0 24px 0;

    font-family: var(--font-family);
    font-size: 28px;

    line-height: 130%;
    text-align: center;
    color: var(--title-color);
}

.commands__text-deskription {
    margin-bottom: 64px;

    font-family: var(--font-family);
    font-size: 24px;

    line-height: 130%;
    color: rgba(0, 0, 0, 0.7);
}

.commands__galary {
    width: 100%;
}

.commands__galary-list {
    display: flex;
    justify-content: space-between;
}

.commands__galary-list-item img {
    border-radius: 16px;
    margin-bottom: 24px;
}

.commands__galary-list-item--name {
    font-family: var(--font-family);
    font-size: 24px;

    line-height: 130%;
    color: var(--main-color);
}

.commands__galary-list-item--deskr {
    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: rgba(0, 0, 0, 0.7);
}

/* Block about */

.about {
    position: relative;

    margin-bottom: 120px;

    width: 100%;
    height: 584px;

    background-image: url(../img/background/about_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.about::before {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(26, 35, 110, 0.5);
}

.about__text {
    position: relative;
    text-align: center;
}

.about__subtitle {
    padding-top: 100px;
}

.about__text-title {
    margin-top: 16px;
    margin-bottom: 16px;

    text-align: center;

    font-family: var(--second-1);
    font-size: 48px;

    line-height: 108%;
    color: var(--white-color);
}

.about__text-desk {
    max-width: 730px;
    margin: 0 auto;

    text-align: center;

    font-family: var(--second-family2);
    font-size: 18px;

    line-height: 133%;
    color: rgba(255, 255, 255, 0.8);
}

.about__text-desk + .about__text-desk {
    margin-top: 10px;
}

.about__btn {
    margin-top: 32px;

    display: inline-block;
    padding: 16px 32px;

    background-color: var(--second-background);

    font-family: var(--second-family1);
    font-size: 18px;

    line-height: 133%;
    color: var(--white-color);
}

/* block advantages */

.advantages__text-wrapper {
    text-align: center;
}

.advantages__text-title {
    max-width: 725px;
    margin: 0 auto;

    font-family: var(--font-family1);
    font-size: 64px;

    line-height: 106%;
    text-align: center;
    color: var(--main-color);
}

.advantages__card {
    display: flex;
    justify-content: space-between;

    margin-top: 64px;
    margin-bottom: 120px;

    width: 100%;
}

.advantages__card-item {
    padding: 25px 10px 10px 10px;

    text-align: center;
}

.advantages__card-item-title {
    margin-top: 57px;

    font-family: var(--font-family);
    font-size: 28px;

    line-height: 130%;
    color: var(--main-color);
}

.advantages__card-item-deskr {

    margin-top: 16px;

    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: rgba(0, 0, 0, 0.4);
}

/* block Category */

.category {
    background-color: var(--second-background);
}

.category__text-wrapper {
    text-align: center;
}

.category__subtitle {
    padding-top: 120px;
    padding-bottom: 24px;

    font-family: var(--font-family);
    font-size: 28px;

    line-height: 130%;
    color: var(--white-color);
}

.category__text-title {
    padding-bottom: 24px;

    font-family: var(--font-family1);
    font-size: 64px;

    line-height: 106%;
    text-align: center;
    color: var(--white-color);
}

.category__text-deskr {
    max-width: 725px;
    margin: 0 auto;
    padding-bottom: 64px;

    font-family: var(--font-family);
    font-size: 24px;

    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.category__works-list {
    display: flex;
    justify-content: space-between;
}

.category__works-list:nth-child(2) {
    margin-top: 30px;
}

.category__works-list-item img {
    border-radius: 16px;
}

.category__works-list-item {
    position: relative;
}

.category__works-list-item::before {
    content: '';
    
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(rgba(0,0,0,0.4), #000);
    border-radius: 16px;
}

.category__works {
    padding-bottom: 120px;
}

.category__works-list-item--tile {
    width: 100%;

    position: absolute;
    bottom: 32px;

    font-family: var(--font-family);
    font-size: 28px;

    line-height: 130%;
    color: var(--white-color);
    text-align: center;
}

/* block room */

.room {
    margin: 80px 0;
}

.room__container {
    display: flex;
    justify-content: space-between;
}

.room__img-left img {
    width: 100%;
    height: 100%;
}

.room__img-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.room__img-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* block comments */

.comments {
    background-color: #F7F8FA;
}

.comments__text {
    padding-top: 100px;

    text-align: center;
}

.comments__text-title {
    padding-bottom: 24px;

    font-family: var(--font-family1);
    font-size: 64px;

    line-height: 106%;
    color: var(--main-color);
}

.comments__text-suptitle {
    padding-bottom: 80px;

    font-family: var(--font-family);
    font-size: 24px;

    line-height: 130%;
    color: rgba(0, 0, 0, 0.7);
}

.comment__list-wrapper {
    display: flex;
    justify-content: space-between;

    padding-bottom: 100px;
}

.comments__list-item {
    width: 540px;
    height: 409px;

    background-color: red;
    border-radius: 16px;
}

/* block partners */

.partners {
    /* margin-top: 100px; */
}

.partners__text {
    text-align: center;
}

.partners__text-title {
    padding-top: 120px;
    padding-bottom: 24px;

    font-family: var(--font-family1);
    font-size: 64px;

    line-height: 106%;
    color: var(--main-color);
}

.partners__text-suptitle {
    width: 720px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 64px;

    font-family: var(--font-family);
    font-size: 24px;

    line-height: 130%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.partners__list-item {
    width: 255px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.partners__list-item img {
    width: 100%;
    height: auto;

}

.partners__list {
    display: flex;
    justify-content: space-between;

    padding-bottom: 120px;
}

/*  */

.form {
    width: 100%;
    height: 100vh;

    position: relative;

    background-image: url(../img/background/form_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form::before {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(26, 35, 110, 0.5);
}

.from__wrapper {
    position: relative;
}

.form__header-text {
    padding-top: 100px;

    text-align: center;
}

.form__header-text--title {
    padding-bottom: 16px;

    font-family: var(--font-family1);
    font-size: 48px;

    line-height: 108%;
    color: var(--white-color);
}

.form__header-text--suptitle {
    padding-bottom: 40px;

    font-family: var(--font-family);
    font-size: 18px;

    line-height: 133%;
    color: rgba(255, 255, 255, 0.8);
}

.main__form-name, .main__form-phone, .main__form-email {
    display: flex;
    justify-content: center;
}

.main__form-name input, .main__form-phone input, .main__form-email input {
    padding-left: 20px;

    width: 540px;
    height: 56px;

    background-color: var(--main-background);
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0, 0.1);

    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: rgba(0, 0, 0, 0.2);
}

.main__form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 540px;
    margin: 0 auto;
}

.main__form-name input::placeholder, .main__form-phone input::placeholder,
 .main__form-email input::placeholder {
    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: rgba(0, 0, 0, 0.2);
 }

 .main__form-email {
    padding-bottom: 24px;
 }

 .form__select {
    padding-bottom: 8px;

    font-family: var(--font-family);
    font-size: 18px;
    
    line-height: 133%;
    color: var(--white-color);
 }

.form__radio-element {
    display: flex;
    align-items: center;
}

 .form__radio-element span {
    margin-left: 16px;

    display: flex;
    align-items: center;

    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: var(--white-color);
 }

 .form__radio-element input {
    width: 24px;
    height: 24px;
 }

 .form__btn {
    margin-top: 24px;
    padding: 16px 198.5px;

    background-color: var(--second-background);
    border-radius: 6px;

    font-family: var(--font-family);
    font-size: 18px;

    line-height: 133%;
    text-align: center;
    color: var(--white-color);
 }

 .form__sup {
    max-width: 540px;
    margin: 0 auto;

    padding-top: 24px;

    font-family: var(--font-family1);
    font-size: 13px;

    line-height: 138%;
    text-align: center;

    color: rgba(255, 255, 255, 0.7);
 }

 .footer-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 80px;
 }

 .footer__social-icon {
    width: 452px;
    height: 200px;
 }

 .footer__social-icon-list {
    padding-bottom: 40px;

    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .footer__social-icon-facebook, .footer__social-icon-instagram,
 .footer__social-icon-twiter, .footer__social-icon-vk {
    width: 56px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center; 

    position: relative;
    

    background-color: var(--second-background);
    border-radius: 100%;
 }

  .footer__social-icon-facebook img, .footer__social-icon-instagram img ,
 .footer__social-icon-twiter img, .footer__social-icon-vk img {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.footer__menu {
    display: flex;
    justify-content: space-between;

    padding-bottom: 40px;
}

 .footer__menu a {
    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: rgba(0, 0, 0, 0.8);
 }

 .footer__copirayt {
    padding-bottom: 80px;

    font-family: var(--font-family1);
    font-size: 15px;

    line-height: 133%;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
 }

 /* popup */

 .popup {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    visibility: hidden;
 }

  .popup:target {
    opacity: 1;
    visibility: visible;
  }

 .popup__container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
 }

 .popup__body {
    position: relative;

    width: 550px;
    height: 400px;
    padding: 15px;

    background-color: var(--white-color);
    border-radius: 6px;
 }

 .popup__header-text .header-text--title {
    padding-bottom: 16px;

    font-family: var(--font-family1);
    font-size: 48px;
    
    line-height: 108%;
    text-align: center;
    color: var(--title-color);
 }

  .popup__header-text .header-text--suptitle {
    font-family: var(--font-family1);
    font-size: 18px;
    
    line-height: 133%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
 }

.header__popup-form > form {
    padding-top: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}



 .form__name, .form__tel {
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .form__name input, .form__tel input {
    padding-left: 20px;

    width: 300px;
    height: 56px;

    background-color: var(--second-background);
    border-radius: 6px;

    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: var(--white-color);
 }

 .form__name input::placeholder, .form__tel input::placeholder {
    font-family: var(--font-family1);
    font-size: 18px;

    line-height: 133%;
    color: var(--white-color);
 }

 .popup__btn {
    display: flex;
    justify-content: center;
 }

 .header__popup-form-btn {
    width: 300px;
    height: 56px;

    background-color: #026988;
    border-radius: 6px;

    font-family: var(--font-family);
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #fff;
 }

 .popup__close {
    position: absolute;
    top: 5px;
    right: 20px;

    cursor: pointer;
 }

 .close__popap {
    color: rgba(0, 0, 0, 0.7);
 }